@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Toto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');

* {
  box-sizing: border-box;
  text-decoration: none;
  background-color: #e2d3c7;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

html {
  font-family: Noto Serif Toto, Quicksand;
}

/* Separate lines (Used in all pages)*/
.separate-line {
  background-color: #642b0d5d;
  padding: 2px;
}

.first-row {
  padding-top: 12%;
}

/* Hero-image (Home-page) */
.header {
  background: url(../images/hero-image.gif) no-repeat center;
  height: 300px;
}

/* Menu */
.menu {
  list-style-type: none;
  margin: 0%;
  padding: 0;
  font-size: 180%;
  text-align: center;

  color: #3a3a3a;
  background-color: #e2d3c7;
}

.menu-link {
  color: #3a3a3a;
}

.menu-link:hover {
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-color: #642b0d;
}

#home {
  font-size: 120%;
  border: 2px solid #642b0d;
  color: #3a3a3a;
  padding-top: 5px;
}

/* Wash-image (Home-page) */
#wash {
  background: url(../images/wash.jpg) no-repeat center;
  height: 683px;
  opacity: 0.5;
  margin-top: 5%;
}

/* Wash-image (Text-content) */
#wash h2 {
  background: none;
  font-size: 140%;
  text-transform: uppercase;
  letter-spacing: 2px;

  height: 100px;
  padding-top: 40px;
  padding-left: 10px;

  background-color: rgb(227,190,170, 0.7);
  position: absolute;
  margin: 10%;
}

/* Welcome-text (Home-page) */
.welcome h2 {
  font-family: Noto Serif Toto;
  font-size: 220%;
  text-align: center;
  opacity: 0.6;
  color: black;
}

.welcome h3 {
  font-family: Quicksand;
  font-size: 180%;
  text-align: center;
  color: #642b0d;
  opacity: 0.7;
}

/*  -  Services  -  */
#cloud-image {
  background: url(../images/clouds.gif) no-repeat center;
  height: 300px;
}

#services {
  font-size: 120%;
  border: 2px solid #642b0d;
  color: #3a3a3a;
  padding-top: 5px;
}

/* Hair */
#hair-image {
  background: url(../images/hair.gif) no-repeat center;
  height: 400px;
}

#hair-text {
  padding-top: 2%;
  font-size: 85%;
  color: #3a3a3a;
}

/* Nails */
#nails-text {
  padding-top: 2%;
  font-size: 85%;
  color: #3a3a3a;
}

#nails-image {
  background: url(../images/nails.gif) no-repeat center;
  height: 400px;
  padding-bottom: 0%;
}

/* Lashes */
#lashes-text {
  padding-top: 2%;
  font-size: 85%;
  color: #3a3a3a;
}

#lashes-image {
  background: url(../images/lashes.gif) no-repeat center;
  height: 400px;
}


/*  -  CONTACT  -  */
#contact {
  font-size: 120%;
  border: 2px solid #642b0d;
  color: #3a3a3a;
  padding-top: 5px;
}

legend {
	font-size: 140%;
	font-weight: 600;
	text-transform: none;
	margin: 20px 0 10px 0;
  color: #565151;
}

/* Form */
form {
	padding: 25px;
	border-radius: 8px;
	margin: 25px auto;
}

/* Where to find us */
.where2find {
  display: flex;
  justify-content: center;
}

/* Phone & Address */
.phone-legend {
  border: 3px groove #642b0d5d;
  padding: 10px;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  margin: 3%;
  color: #642b0d;
}

.address-legend {
  border: 3px groove #642b0d5d;
  padding: 10px;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  margin: 3%;
  color: #642b0d;
}

hr {
  border: none;
  height: 3px;
  background-color: #642b0d5d;
  color: #b59785;
  text-align: left;
}

/* Social-networks */
.social-networks {
  text-align: center;
  color: #642b0d;
  padding-bottom: 10px;
}

.check-us-out {
  text-align: center;
  font-size: 160%;
}

.footer-contact {
  text-align: center;
  font-family: Unbounded;
  color: #642b0d;
}

/* Footer */
/* social-media icons */
.social-links {
  display: inline;
  list-style-type: none;
}

.social-networks i {
  font-size: 210%;
  margin: 0%;
  padding: 0%;
  color: #3a3a3a;
  text-align: center;
}

/* Map */
.map {
  position: relative;
  width: 100%;
}

.map iframe {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 270px;
}

/* RWD Grid-view */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {

  .col-s-1 {
    width: 8.33%;
  }

  .col-s-2 {
    width: 16.66%;
  }

  .col-s-3 {
    width: 25%;
  }

  .col-s-4 {
    width: 33.33%;
  }

  .col-s-5 {
    width: 41.66%;
  }

  .col-s-6 {
    width: 50%;
  }

  .col-s-7 {
    width: 58.33%;
  }

  .col-s-8 {
    width: 66.66%;
  }

  .col-s-9 {
    width: 75%;
  }

  .col-s-10 {
    width: 83.33%;
  }

  .col-s-11 {
    width: 91.66%;
  }

  .col-s-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {

  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }
}